node-red/flow.json
[{"id":"e677be20.f74a3","type":"serial in","z":"93d49a90.827fa8","name":"Serial Input from Uno","serial":"152b7585.fc811a","x":170,"y":100,"wires":[["23e86421.69296c","18dfd26.06d7d2e"]]},{"id":"18dfd26.06d7d2e","type":"debug","z":"93d49a90.827fa8","name":"Ardunio Uno Debug","active":true,"console":"false","complete":"payload","x":432,"y":210.5,"wires":[]},{"id":"23e86421.69296c","type":"json","z":"93d49a90.827fa8","name":"","x":389,"y":100,"wires":[["b76ba326.6d933"]]},{"id":"970bd207.73635","type":"debug","z":"93d49a90.827fa8","name":"Command","active":true,"console":"false","complete":"payload","x":428,"y":333.5,"wires":[]},{"id":"4b01b03.44bad5","type":"comment","z":"93d49a90.827fa8","name":"Command Flow","info":"","x":364,"y":281,"wires":[]},{"id":"afa1bf83.40927","type":"comment","z":"93d49a90.827fa8","name":"Event Flow","info":"","x":372,"y":35,"wires":[]},{"id":"4fd271a3.32b35","type":"serial out","z":"93d49a90.827fa8","name":"Send Command to Uno","serial":"152b7585.fc811a","x":472,"y":416.5,"wires":[]},{"id":"b284290f.915528","type":"ibmiot in","z":"93d49a90.827fa8","authentication":"apiKey","apiKey":"8fe09997.fa8438","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":320,"wires":[["970bd207.73635","4fd271a3.32b35"]]},{"id":"b76ba326.6d933","type":"ibmiot out","z":"93d49a90.827fa8","authentication":"apiKey","apiKey":"8fe09997.fa8438","outputType":"evt","deviceId":"m0","deviceType":"0.18.4","eventCommandType":"loragateway","format":"json","data":"status","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":80,"wires":[]},{"id":"152b7585.fc811a","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"8fe09997.fa8438","type":"ibmiot","z":"","name":"hz7oe0","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
